body{
    opacity:0.9;
    width:100%;
    text-align:center;
    color:yellow;
}

input {
    margin: 0 auto;
    font-size: 3em;
    color: black;
}

#carousel-example-generic {
    margin: 0 auto;
    width: 700px;
}

#error {
    font-size: 500px;
    font-weight: bold;
}

footer {
    font-size: 20px;
}