body {
    background-color: black;
    color: gray;
}

header {
    color: white;
}

header, main, nav, footer {
    text-align: center;
}

nav a: {
    /* links within "nav" containter */
    padding:15px;
    /*padding-bottom:4px;*/
    font-size:1.8em;
    text-decoration: none;    /* removes underline */
    color: white;            /* by default, links are blue */
}
nav a:hover { /*psuedo class*/
    /*border-bottom:2px white solid;*/
    font-size: 2em;
    transition: .9s; /* transition effect */
}

nav b: {
    /* links within "nav" containter */
    padding:15px;
    /*padding-bottom:4px;*/
    font-size:1.8em;
    text-decoration: none;    /* removes underline */
    color: white;            /* by default, links are blue */
}
nav b:hover { /*psuedo class*/
    /*border-bottom:2px white solid;*/
    font-size: 2em;
    transition: .9s; /* transition effect */
}

#me, #welcomeText {
    float:left;
    text-align: left;
}

footer {
    clear:left;
    color: rgb(131,121,80);
    font-size: 12px
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color:orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
    text-align: center;
    color:white;
}

ul {
    text-align: left;
    padding-left: 200px;
}

.hobby {
    color:yellow;
}

.strikethrough {
    text-decoration: line-through;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}