body {
    text-align: center;
    background: cyan;
}
header {
    font-size: 30px;
}
nav {
    font-size: 20px;
    color:black;
    text-decoration: underline;
}

header h4 {
    font-family: 'Indie Flower', cursive;
}
#Button {
    color: blue;
}

#Button img {
    max-width: 125px;
}

#Points, #Point {
    color: red;
    text-decoration: underline;
}

#Average {
    color: green;
    font-style: italic;
}

#Harold img {
    border: 3px solid blue;
    margin: auto;
    max-width: 1000px;
}

#LimitedEdition {
    font-family: 'Pacifico', cursive;
    color: darkGray;
}

#Caption {
    font-size: 10px;
}