#signupform {
    text-align: center;
    border-style: groove;
}

#takenusernames {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}

body {
    text-align: center;
    margin: auto;
    width: 45%;
}

footer {
    text-align: center;
}

#zip-code-error-msg {
    color: red;
}
#city, #lon, #lat {
    color: green;
}


#username-invalid {
    color: red;
}
#username-valid {
    color: green;
}


#usernames {
    color: blue;
}