#title {
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}

#Error {
    color: red;
}

#Success {
    color: green;
}

#Underline {
    text-decoration: underline;
}

#ids {
    font-style: italic;
    font-family: 'Press Start 2P', none;
}

#grey {
    background-color: #c2c2c2;
}