body {
    background-color: #F9F9F9;
    /*font-family: futura; */
    font-family: Helvetica;
}

table, th, td {
  text-align:left;
}

thead {
    text-align:center;
    font-size:1.2em;
}

a {
    font-weight: 500;
}

#item {
    font-size: 1.2em;
    font-weight: 600;
}

#t1 {
    width: 80%;
}


#line {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.movielist {
    border-width: 2px;
    display: inline;
    padding: 2px;
}
