header {
    text-align: center;
    font-size: 30px;
}
header img {
    max-width: 70px;
}

body {
    background-color: black;
    color:white;
}

main, nav, footer {
    text-align: center;
}
footer {
    color: violet;
}

nav a {
    color: white;
    text-decoration:none;
    font-size: 25px;
    padding-left: 15px;
}

.current {
    color: red;
    text-decoration: underline;
    font-size: 25px;
}
.currentUnity {
    color: orange;
    text-decoration: underline;
    font-size: 25px;
}
.currentUnreal {
    color: lightblue;
    text-decoration: underline;
    font-size: 25px;
}
.currentGameMaker {
    color: green;
    text-decoration: underline;
    font-size: 25px;
}

hr {
    width:30%;
}



#welcomeText {
    font-size: 20px;
}
.firstLetter {
    font-style: italic;
    font-size:30px;
    color:red;
}
#introText {
    font-size: 20px;
}
.whatTitle {
    font-size:30px;
    text-decoration: underline;
}

#howPic img {
    max-width: 400px;
    border:0;
}
.imgframe
{
    background:red;
    padding:5px;
    border:1px solid black;
}




#unityName {
    font-size: 50px;
    font-family: 'Ubuntu', 'Roboto', Serif;
    text-shadow: 4px 4px 4px orange;
    
}
#unrealName {
    font-size: 50px;
    font-family: 'Archivo Black', Sans-Serif;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px darkblue;
}
#gamemakerName {
    font-size: 50px;
    font-family: 'Poppins', 'Open Sans', Serif;
    text-shadow: 4px 4px 4px green;
}

#engineText {
    font-size: 20px;
    font-family: 'Cambay';
}

#engineIcon img {
    max-width: 250px;
    float:right;
}

#unityScreenshot img, #unrealScreenshot img, #gamemakerScreenshot img {
    max-width:1000px;
}

#referenceText {
    font-style: italic;
}
.rUnity {
    font-style: normal;
    text-decoration: underline;
    color: orange;
    padding-left: 10px;
}
.rUnreal {
    font-style: normal;
    text-decoration: underline;
    color: lightblue;
    padding-left: 10px;
}
.rGameMaker {
    font-style: normal;
    text-decoration: underline;
    color: green;
    padding-left: 10px;
}