header {
    text-align: center;
    font-size: 30px;
}
header img {
    max-width: 70px;
}

body {
    background-color: black;
    color:white;
}

main, nav, footer {
    text-align: center;
}
footer {
    color: lightblue;
}

nav a {
    color: white;
    text-decoration:none;
    font-size: 25px;
}

nav b {
    color: red;
    text-decoration: underline;
    font-size: 25px;
}



#welcomeText {
    font-size: 20px;
}
#introText {
    font-size: 20px;
}
.whatTitle {
    text-decoration: underline;
}

#howPic img {
    max-width: 400px;
}
.imgframe
{
    background:red;
    padding:5px;
    border:1px solid black;
}




#unityName {
    font-size: 50px;
    font-family: 'Ubuntu', 'Roboto', Serif;
    
}
#unrealName {
    font-size: 50px;
    font-family: 'Archivo Black', Sans-Serif;
}
#gamemakerName {
    font-size: 50px;
    font-family: 'Poppins', 'Open Sans', Serif;
}

#engineText {
    font-size: 20px;
}

#engineIcon img {
    max-width: 250px;
    float:right;
}

#unityScreenshot img, #unrealScreenshot img, #gamemakerScreenshot img {
    max-width:1000px;
}

#referenceText {
    font-style: italic;
}
#referenceText r {
    font-style: normal;
    text-decoration: underline;
    color: green;
}