body {
    opacity:0.9;
    width:100%;
    text-align:center;
    background-color: rgb(191, 241, 255);
}

input {
    margin: 0 auto;
    font-size: 20px;
    color: Gray;
}

#HeadTitle {
    color: black;
    font-size: 75px;
    font-family: 'Press Start 2P', cursive;
}

#error {
    color:red;
    font-size: 25px;
    font-weight: bold;
}

#toprint {
    width: 450px;
    margin: 0 auto;
    background-color: rgb(255, 247, 219);
    padding: 20px;
    font-size: 30px;
}

#InputForm {
    width: 500px;
    margin: 0 auto;
    background-color: rgb(237, 216, 255);
    padding: 10px;
}

#InputTitle {
    color: black;
}

footer {
    font-size: 15px;
}