body {
    background-image: url("../img/background.jpg");
    text-align:center;
}
h1 {
    font-family: 'Pacifico', cursive;
}
main {
    text-align:center;
    color:white;
}
header {
    text-align:center;
    color:white;
}
table {
    margin: 0 auto;
}
footer {
    text-align:center;
    color:white;
}
#symbolIcon {
    
}

#points {
    font-family: 'Baloo Bhaina', cursive;
}